<template>
  <h1>Vue Drumkit</h1>
  <div class="keys">
    <Key v-for="(key, i) in keys" :sound="key" :key="i"/>
  </div>
</template>

<script>
import Key from './components/Key.vue'

export default {
  name: 'App',
  data() {
    return{
      keys:[
        {
          name: "boom",
          audio: require("./assets/sound/src_assets_sounds_boom.wav"),
          latter: "A"
        },
        {
          name:"clap",
          audio: require("./assets/sound/src_assets_sounds_clap.wav"),
          latter: "S"
        },
        {
          name:"hihat",
          audio: require("./assets/sound/src_assets_sounds_hihat.wav"),
          latter: "D"
        },
        {
          name:"kiks",
          audio: require("./assets/sound/src_assets_sounds_kick.wav"),
          latter: "F"
        },
        {
          name:"openhat",
          audio: require("./assets/sound/src_assets_sounds_openhat.wav"),
          latter: "G"
        },
        {
          name:"ride",
          audio: require("./assets/sound/src_assets_sounds_ride.wav"),
          latter: "H"
        },
        {
          name:"snare",
          audio: require("./assets/sound/src_assets_sounds_snare.wav"),
          latter: "J"
        },
        {
          name:"tink",
          audio: require("./assets/sound/src_assets_sounds_tink.wav"),
          latter: "K"
        },
        {
          name:"tom",
          audio: require("./assets/sound/src_assets_sounds_tom.wav"),
          latter: "L"
        }
      ]
    }
  },
  components: {
    Key
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.keys{
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
